body {
  margin: 0;
  font-family: Roboto, RobotoDraft, Arial, sans-serif;
}

/* nav  */

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container-responsive {
  display: none;
  list-style: none;
}

.nav-container a {
  text-decoration: none;
  margin: 12px 12px;
  color: black;
  font-size: 13px;
}

.nav-container a:hover {
  text-decoration: underline;
}

.nav-container .nav-container-img-menu {
  width: 20px;
  height: 20px;
  color: gray;
}

.nav-container img {
  width: 45px;
  height: 45px;
  border-radius: 30px;
}

/* nav-responsive  */

.nav-responsive {
  display: flex;
  justify-content: space-between;
}

.nav-responsive a {
  text-decoration: none;
  color: gray;
  display: none;
}

.nav-responsive img {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  display: none;
}

/* Google Intro */

.google-intro {
  display: flex;
  justify-content: center;
}

.google-intro-img {
  width: 272px;
  height: 152px;
  margin: 150px 0px 0px;
}

.google-intro-search {
  display: flex;
  justify-content: center;
}

.fa-solid {
  color: grey;
}

form input {
  width: 28%;
  padding: 15px 20px;
  border: 1px solid grey;
  border-radius: 20px;
  margin-bottom: 36px;
}

.google-intro-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.google-intro-btns a {
  text-decoration: none;
  color: rgb(71, 70, 70);
  font-size: 14px;
  padding: 10px 15px;
  background-color: #f8f9fa;
}

.google-intro-btns a:hover {
  border: 1px solid rgb(203, 202, 202);
}

.google-intro-btns a:first-child {
  margin-right: 10px;
}

.google-intro-languaje {
  display: flex;
  justify-content: center;
}

.google-intro-languaje p {
  font-size: 14px;
}

.google-intro-languaje a {
  text-decoration: none;
  color: #1a0dab;
}

.google-intro-languaje a:hover {
  text-decoration: underline;
}

/* google-footer  */

.google-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.google-footer-country {
  border-bottom: 1px solid rgb(214, 212, 212);
  background-color: rgba(180, 178, 178, 0.146);
}

.google-footer-country a {
  display: inline-block;
  color: #8e9193;
  font-size: 13px;
  text-decoration: none;
  margin: 10px 15px;
}

.division {
  display: none;
  padding: 15px;
  border: 1px solid rgb(214, 212, 212);
  background-color: rgba(180, 178, 178, 0.146);
}

.google-footer-links {
  display: flex;
  justify-content: space-between;
  background: rgba(180, 178, 178, 0.146);
}

.google-footer-links a {
  display: inline-block;
  text-decoration: none;
  color: #70757a;
  font-size: 13px;
  padding: 15px;
  margin-left: 10px;
}

.google-footer-links a:hover {
  text-decoration: underline;
}

@media all and (max-width: 425px) {
  body {
    font-size: 14px;
  }

  .nav-container {
    display: none;
  }

  /* nav-responsive  */

  .nav-responsive {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .nav-responsive a {
    display: inline-block;
    margin-right: 15px;
  }

  .nav-responsive img {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .nav-div-responsive .fa-bars {
    display: block;
  }

  /* google-intro  */

  .google-intro-img {
    width: 150px;
    height: 90px;
    margin-top: 30px;
  }

  .fa-microphone .fa-magnifying-glass {
    display: none;
    font-size: 50px;
  }

  .fa-solid {
    display: none;
  }

  form input {
    width: 250px;
    height: 40px;
  }

  .google-intro-btns {
    display: none;
  }

  .google-footer {
    position: absolute;
    bottom: 0;
  }

  .division {
    display: block;
    border-top: 0;
  }

  .google-footer-links {
    display: flex;
    flex-direction: column;
  }

  .google-footer-links a {
    padding: 5px;
  }
}
